<form ng-cloak name="formRegistro" ng-submit="scope.persistir(scope.registro)" novalidate>

    <div class="m-b-20" layout="row" layout-xs="column">
        <div class="sgr-container-table" layout="column" flex-gt-xs flex="100">
            <md-card>
                <md-table-container>
                    <table md-table style="border-collapse: collapse !important;">
                        <thead md-head>
                        <tr style="border-bottom: 1px solid #cfcfcf !important;">
                            <th md-column colspan="3">
                            </th>
                            <th md-column class="text-center" colspan="5">
                                <sgr-glossario termo="Estratégico - Operacional"></sgr-glossario>
                            </th>
                            <th md-column class="text-center" width="100px">
                                <sgr-glossario class="wordwrap-th" termo="Econômico - Financeiro"></sgr-glossario>
                            </th>
                            <th md-column>

                            </th>
                        </tr>
                        <tr md-row>
                            <th md-column class="text-center" width="30px">
                                <sgr-glossario termo="Item"></sgr-glossario>
                            </th>
                            <th md-column>
                                <sgr-glossario termo="Evento de Risco"></sgr-glossario>
                            </th>
                            <th md-column width="20%">
                                <sgr-glossario termo="Consequência de Risco"></sgr-glossario>
                            </th>
                            <th md-column class="text-center" width="100px">
                                <span class="wordwrap-th">{{scope.calculadora.impactos[0].nome}}</span>*
                            </th>
                            <th md-column class="text-center" width="100px">
                                <span class="wordwrap-th">{{scope.calculadora.impactos[1].nome}}</span>*
                            </th>
                            <th md-column class="text-center" width="100px">
                                <span class="wordwrap-th">{{scope.calculadora.impactos[2].nome}}</span>*
                            </th>
                            <th md-column class="text-center" width="100px">
                                <span class="wordwrap-th">{{scope.calculadora.impactos[3].nome}}</span>*
                            </th>
                            <th md-column class="text-center" width="100px">
                                <span class="wordwrap-th">{{scope.calculadora.impactos[4].nome}}</span>*
                            </th>
                            <th md-column class="text-center" width="100px">
                                <span class="wordwrap-th">{{scope.calculadora.impactos[5].nome}}</span>*
                            </th>
                            <th md-column class="text-center" width="60px">
                                <span>Peso</span>
                            </th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row>
                            <td md-cell>
                            </td>
                            <td md-cell>
                            </td>
                            <td md-cell>
                            </td>
                            <td md-cell class="text-center">
                                <div class="md-block" flex-gt-xs flex="16" width="100px">
                                    <md-checkbox ng-model="scope.calculadora.impactos[0].desabilitado" aria-label="Ignorar" style="align-self: center; margin: 5px 0 0 10px" ng-change="scope.handlePesoCalculadoraChange(0)"></md-checkbox>
                                </div>
                            </td>
                            <td md-cell class="text-center">
                                <div class="md-block" flex-gt-xs flex="16" width="100px">
                                    <md-checkbox ng-model="scope.calculadora.impactos[1].desabilitado" aria-label="Ignorar" style="align-self: center; margin: 5px 0 0 10px" ng-change="scope.handlePesoCalculadoraChange(1)"></md-checkbox>
                                </div>
                            </td>
                            <td md-cell class="text-center">
                                <div class="md-block" flex-gt-xs flex="16" width="100px">
                                    <md-checkbox ng-model="scope.calculadora.impactos[2].desabilitado" aria-label="Ignorar" style="align-self: center; margin: 5px 0 0 10px" ng-change="scope.handlePesoCalculadoraChange(2)"></md-checkbox>
                                </div>
                            </td>
                            <td md-cell class="text-center">
                                <div class="md-block" flex-gt-xs flex="16" width="100px">
                                    <md-checkbox ng-model="scope.calculadora.impactos[3].desabilitado" aria-label="Ignorar" style="align-self: center; margin: 5px 0 0 10px" ng-change="scope.handlePesoCalculadoraChange(3)"></md-checkbox>
                                </div>
                            </td>
                            <td md-cell class="text-center">
                                <div class="md-block" flex-gt-xs flex="16" width="100px">
                                    <md-checkbox ng-model="scope.calculadora.impactos[4].desabilitado" aria-label="Ignorar" style="align-self: center; margin: 5px 0 0 10px" ng-change="scope.handlePesoCalculadoraChange(4)"></md-checkbox>
                                </div>
                            </td>
                            <td md-cell class="text-center">
                                <div class="md-block" flex-gt-xs flex="16" width="100px">
                                    <md-checkbox ng-model="scope.calculadora.impactos[5].desabilitado" aria-label="Ignorar" style="align-self: center; margin: 5px 0 0 10px" ng-change="scope.handlePesoCalculadoraChange(5)"></md-checkbox>
                                </div>
                            </td>
                            <td md-cell>
                            </td>

                        </tr>
                        <tr md-row ng-repeat="item in scope._eventosRisco">
                            <td md-cell class="text-center">
                                <span>{{$index+1}}</span>
                            </td>
                            <td md-cell>
                                <span>{{item.evento.descricao}}</span>
                            </td>
                            <td md-cell>
                                <p ng-repeat="consequenciaDTO in item.consequencias | orderBy: 'consequencia.descricao'" ng-class="{'m-t-0' : $first, 'm-b-0' : $last}">
                                    {{consequenciaDTO.consequencia.descricao}} </p>
                            </td>
                            <td md-cell class="text-center" width="100px">
                                <md-input-container class="md-block" flex-gt-xs flex="100" style=";height: 100%;text-align: center;display: flex;margin: 0; padding: 0; border: 1px solid #ddd;">
                                    <md-select ng-model="item.calculoRiscoResidual.pesos[0].peso" class="calculadora-input calculo" ng-change="scope.handlePesoChange(item)" ng-disabled="scope.calculadora.impactos[0].desabilitado" ng-required="!scope.calculadora.impactos[0].desabilitado">
                                        <md-option ng-value="item.peso" ng-repeat="item in scope._pesos">{{ item.peso }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell class="text-center" width="100px">
                                <md-input-container class="md-block" flex-gt-xs flex="100" style=";height: 100%;text-align: center;display: flex;margin: 0; padding: 0; border: 1px solid #ddd;">
                                    <md-select ng-model="item.calculoRiscoResidual.pesos[1].peso" class="calculadora-input calculo" ng-change="scope.handlePesoChange(item)" ng-disabled="scope.calculadora.impactos[1].desabilitado" ng-required="!scope.calculadora.impactos[1].desabilitado">
                                        <md-option ng-value="item.peso" ng-repeat="item in scope._pesos">{{ item.peso }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell class="text-center" width="100px">
                                <md-input-container class="md-block" flex-gt-xs flex="100" style=";height: 100%;text-align: center;display: flex;margin: 0; padding: 0; border: 1px solid #ddd;">
                                    <md-select ng-model="item.calculoRiscoResidual.pesos[2].peso" class="calculadora-input calculo" ng-change="scope.handlePesoChange(item)" ng-disabled="scope.calculadora.impactos[2].desabilitado" ng-required="!scope.calculadora.impactos[2].desabilitado">
                                        <md-option ng-value="item.peso" ng-repeat="item in scope._pesos">{{ item.peso }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell class="text-center" width="100px">
                                <md-input-container class="md-block" flex-gt-xs flex="100" style=";height: 100%;text-align: center;display: flex;margin: 0; padding: 0; border: 1px solid #ddd;">
                                    <md-select ng-model="item.calculoRiscoResidual.pesos[3].peso" class="calculadora-input calculo" ng-change="scope.handlePesoChange(item)" ng-disabled="scope.calculadora.impactos[3].desabilitado" ng-required="!scope.calculadora.impactos[3].desabilitado">
                                        <md-option ng-value="item.peso" ng-repeat="item in scope._pesos">{{ item.peso }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell class="text-center" width="100px">
                                <md-input-container class="md-block" flex-gt-xs flex="100" style=";height: 100%;text-align: center;display: flex;margin: 0; padding: 0; border: 1px solid #ddd;">
                                    <md-select ng-model="item.calculoRiscoResidual.pesos[4].peso" class="calculadora-input calculo" ng-change="scope.handlePesoChange(item)" ng-disabled="scope.calculadora.impactos[4].desabilitado" ng-required="!scope.calculadora.impactos[4].desabilitado">
                                        <md-option ng-value="item.peso" ng-repeat="item in scope._pesos">{{ item.peso }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell class="text-center" width="100px">
                                <md-input-container class="md-block" flex-gt-xs flex="100" style=";height: 100%;text-align: center;display: flex;margin: 0; padding: 0; border: 1px solid #ddd;">
                                    <md-select ng-model="item.calculoRiscoResidual.pesos[5].peso" class="calculadora-input calculo" ng-change="scope.handlePesoChange(item)" ng-disabled="scope.calculadora.impactos[5].desabilitado" ng-required="!scope.calculadora.impactos[5].desabilitado">
                                        <md-option ng-value="item.peso" ng-repeat="item in scope._pesos">{{ item.peso }}</md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td md-cell class="text-center">
                                <span>{{item.calculoRiscoResidual.mediaPeso}}</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </div>
    </div>

    <div class="sgr-container-buttons m-t-20" layout="row" layout-xs="column">
        <div class="md-block" flex-gt-xs flex="50" style="height: auto;text-align: center;display: flex;">
            <md-button class="md-primary" type="button" ng-click="scope.visualizarLegenda($event)">
                <sgr-glossario termo="Legenda Impacto"></sgr-glossario>
            </md-button>
        </div>
        <div class="md-block" flex-gt-xs flex="50" layout-align="end">
            <div layout="row" layout-align="end">
                <section layout="row center" layout-sm="column" layout-wrap>
                    <div layout="row" layout-align="space-around center">
                        <md-button class="md-primary" type="button" ui-sref="processo.avaliacao.riscoResidual.alterar({id: scope.processoId})">
                            <md-icon md-font-set="material-icons">clear</md-icon>
                            <sgr-glossario termo="Cancelar"></sgr-glossario>
                        </md-button>
                        <md-button class="md-primary md-raised" type="submit">
                            <md-icon md-font-set="material-icons">check</md-icon>
                            <sgr-glossario termo="Salvar"></sgr-glossario>
                        </md-button>
                    </div>
                </section>
            </div>
        </div>

    </div>

</form>

