<div class="sgr-container">

    <div class="sgr-container-body no-padding">

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Macroprocesso"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <span>{{scope.registro.macroprocesso.descricao}}</span>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Processo"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <span>{{scope.registro.processo}}</span>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Objetivo do Macroprocesso/Processo"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <span>{{scope.registro.objetivo}}</span>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Leis e Regulamentos"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <span>{{scope.registro.lei}}</span>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Sistemas"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <span>{{scope.registro.sistema}}</span>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Gestor Responsável pelo processo"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <span>{{scope.registro.gestor.nome}}</span>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Responsáveis pela Análise"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="70">
                <p ng-repeat="responsavel in scope.registro.responsaveis" ng-class="{'m-t-0' : $first, 'm-b-0' : $last}">{{responsavel.usuario.nome}}</p>
            </div>

        </div>

        <div layout="row" layout-xs="column" class="processo-info">

            <div class="md-block" flex-gt-xs flex="30">
                <strong>
                    <sgr-glossario termo="Período da Análise"></sgr-glossario>
                </strong>
            </div>

            <div class="md-block" flex-gt-xs flex="20">
                <span ng-show="scope.registro.dtInicio">Início: {{scope.registro.dtInicio | date:'dd/MM/yyyy'}}</span>

                <span ng-show="scope.registro.dtFim" ng-class="scope.registro.dtInicio ? 'm-l-20' : ''">Fim: {{scope.registro.dtFim | date: 'dd/MM/yyyy'}}</span>
            </div>

        </div>

        <md-tabs md-dynamic-height md-border-bottom md-selected="scope.mapaStates">
            <md-tab label="Identificação de Eventos de Risco" ng-click="scope.changeToIdentificacao()"></md-tab>
            <md-tab label="Avaliação de Riscos e Controles" ng-click="scope.changeToAvaliacao()" ng-disabled="scope.disableAvaliacao"></md-tab>
            <md-tab label="Resposta a Risco" ng-click="scope.changeToResposta()" ng-disabled="scope.disableResposta"></md-tab>
            <md-tab label="Plano de Controle" ng-click="scope.changeToPlanoControle()" ng-disabled="scope.disablePlanoControle"></md-tab>
        </md-tabs>

        <md-content class="md-padding p-b-0">
            <ui-view></ui-view>
        </md-content>

    </div>
</div>
