

        <div layout="row" layout-xs="column" ng-if="scope.permissao.criarEventoRisco && !scope.apenasLeitura">
            <md-button class="md-primary" aria-label="Incluir" ui-sref="eventoRisco.criar({id: scope.processoId})">
                <md-icon md-font-set="material-icons">add</md-icon>
                <sgr-glossario termo="Evento de Risco"></sgr-glossario>
            </md-button>
        </div>

        <div class="m-b-20" layout="row" layout-xs="column">
            <div class="sgr-container-table" layout="column" flex-gt-xs flex="100">
                <md-card>
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column class="text-center" width="30px">
                                    <sgr-glossario termo="Item"></sgr-glossario>
                                </th>
                                <th md-column>
                                    <sgr-glossario termo="Descrição"></sgr-glossario>
                                </th>
                                <th md-column>
                                    <sgr-glossario termo="Causa"></sgr-glossario>
                                </th>
                                <th md-column>
                                    <sgr-glossario termo="Consequência"></sgr-glossario>
                                </th>
                                <th md-column class="text-center" width="80px">
                                    <sgr-glossario termo="Data do Evento"></sgr-glossario>
                                </th>
                                <th md-column width="100px">
                                    <sgr-glossario termo="Categoria"></sgr-glossario>
                                </th>
                                <th md-column width="100px">
                                    <sgr-glossario termo="Natureza"></sgr-glossario>
                                </th>
                                <th md-column class="text-center" width="60px">
                                    <sgr-glossario termo="Ação"></sgr-glossario>
                                </th>
                            </tr>
                            </thead>

                            <tbody md-body>
                            <tr md-row ng-repeat="item in scope._eventosRisco">
                                <td md-cell class="text-center" width="30px">
                                    <span>{{scope.filtros.page*scope.filtros.size+$index+1}}</span>
                                </td>
                                <td md-cell>
                                    <span>{{item.evento.descricao}}</span>
                                </td>
                                <td md-cell>
                                    <p ng-repeat="causaDTO in item.causas | orderBy: 'causa.descricao'" ng-class="{'m-t-0' : $first, 'm-b-0' : $last}">
                                        {{causaDTO.causa.descricao}} </p>
                                </td>
                                <td md-cell>
                                    <p ng-repeat="consequenciaDTO in item.consequencias | orderBy: 'consequencia.descricao'" ng-class="{'m-t-0' : $first, 'm-b-0' : $last}">
                                        {{consequenciaDTO.consequencia.descricao}} </p>
                                </td>
                                <td md-cell class="text-center">
                                    <span ng-bind="item.dtAtualizacao | date:'dd/MM/yyyy'"></span>
                                </td>
                                <td md-cell>
                                    <span ng-bind="item.categoria.descricao"></span>
                                </td>
                                <td md-cell>
                                    <span ng-bind="item.categoria.natureza.descricao"></span>
                                </td>

                                <td md-cell class="text-center cell-options" width="60px">
                                    <a class="no-padding" ui-sref="eventoRisco.alterar({id: scope.processoId, eventoRiscoId: item.id})" ng-show="scope.permissao.criarEventoRisco && !scope.apenasLeitura">
                                        <md-tooltip md-direction="top">
                                            Alterar
                                        </md-tooltip>
                                        <ng-md-icon icon="create"></ng-md-icon>
                                    </a>

                                    <a class="no-padding" ng-click="scope.excluirEventoRisco(item)" class="cursor-pointer" ng-show="scope.permissao.criarEventoRisco && !scope.apenasLeitura">
                                        <md-tooltip md-direction="top">
                                            Excluir
                                        </md-tooltip>
                                        <ng-md-icon icon="delete"></ng-md-icon>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-on-paginate="scope.filtrar" md-limit="scope.tamanhoLimite" md-limit-options="[20, 50, 100]" md-page="scope.registroInicial" md-total="{{scope.totalItems}}" md-page-select></md-table-pagination>
                </md-card>
            </div>
        </div>


<div class="diagram" id="fish-bone" ng-show="scope.showFishBone">

    <h1 class="text-center">Espinha de Peixe</h1>

    <div class="fish-bone-diagram-container-top">
        <div class="fish-top-content" ng-repeat="dto in scope.evento.causas">
            <div class="bone-top">
                <p>{{dto.causa.descricao}}</p>
            </div>
        </div>
    </div>
    <div class="fish-body">
        <div class="main-bone"></div>
        <div class="fish-head">
            <span>{{scope.evento.evento.descricao}}</span>
        </div>
    </div>
    <div class="fish-bone-diagram-container-bottom">
        <div class="fish-bottom-content" ng-repeat="dto in scope.evento.consequencias">
            <div class="bone-bottom">
                <p>{{dto.consequencia.descricao}}</p>
            </div>
        </div>
    </div>
</div>

<div id="bow-tie" ng-show="scope.showBowTie">

    <h1 class="text-center">Gravata Borboleta</h1>

    <div class="bow-tie-diagram">

        <div class="left-side">
            <div class="left-side-container">
                <div class="bow-tie-diagram-content">
                    <div class="diagram-items-left" ng-repeat="dto in scope.evento.causas">
                        <span>{{dto.causa.descricao}}</span>
                    </div>
                </div>
                <div class="left-triangle"></div>
            </div>
        </div>
        <div class="middle-bow-tie">
            <div class="tie">
                <span style="align-self: center">{{scope.evento.evento.descricao}}</span>
            </div>
        </div>
        <div class="right-side">
            <div class="left-side-container">
                <div class="right-triangle"></div>
                <div class="bow-tie-diagram-content">
                    <div class="diagram-items-right" ng-repeat="dto in scope.evento.consequencias">
                        <span>{{dto.consequencia.descricao}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .diagram {
        display: flex;
        flex-direction: column;
        size: A4;
    }

    .fish-bone-diagram-container-top {
        width: calc(100% - 242px);
        height: auto;
        margin-top: 100px;
        display: flex;
    }

    .fish-bone-diagram-container-bottom {
        width: calc(100% - 242px);
        height: auto;
        margin-top: 100px;
        display: flex;
    }

    .fish-top-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .fish-bottom-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .fish-body {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .bone-top {
        width: 300px;
        height: 35px;
        border-top: 1px solid;
        -webkit-transform: translateY(-42px) translateX(20px) rotate(35deg);
        transform: rotate(35deg);
        position: absolute;
        align-self: flex-end;
        margin-top: 47px;
    }

    .bone-top p {
        margin: 0;
        width: calc(100% - 78px);
        align-self: center;
    }

    .bone-bottom {
        width: 300px;
        height: 35px;
        border-bottom: 1px solid;
        -webkit-transform: translateY(-21px) translateX(20px) rotate(-35deg);
        transform: rotate(-35deg);
        position: absolute;
        align-self: flex-end;
        margin-top: -110px;
        display: flex;
    }

    .bone-bottom p {
        margin: 0;
        width: calc(100% - 78px);
        align-self: center;
    }

    .main-bone {
        border-bottom: 3px solid #666;
        width: 100%;
        align-self: center;
    }

    .fish-head {
        width: 227px;
        height: 200px;
        border: 1px solid;
        border-radius: 108px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .diagram-items-left {
        margin-bottom: 5px;
        margin-right: 10px;
        text-align: center;
    }

    .diagram-items-right {
        margin-bottom: 5px;
        margin-left: 10px;
        text-align: center;
    }

    .bow-tie-diagram-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-side-container {
        display: flex;
        flex-direction: row;
    }

    .bow-tie-diagram {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        size: A4;
    }

    .left-side {
        align-self: center;
        margin-right: -50px;
    }

    .right-side {
        align-self: center;
        margin-left: -50px;
    }

    .middle-bow-tie {
        align-self: center;
        z-index: 1;
        background-color: #FFFFFF;
        border-radius: 227px;
    }

    .left-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 190px 0 190px 380px;
        border-color: transparent transparent transparent #6b6b6b;
        /*-webkit-transform:rotate(360deg);*/
        align-self: center;
    }

    .tie {
        width: 227px;
        height: 227px;
        border: 1px solid;
        border-radius: 227px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .right-triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 190px 380px 190px 0;
        border-color: transparent #6b6b6b transparent transparent;
        /*-webkit-transform:rotate(360deg);*/
        align-self: center;
    }
</style>
