<md-content flex>
    <div class="sgr-container">

        <div class="sgr-container-header" layout="row">
            <div class="md-toolbar-tools">
                <h3 style="font-size: 18px">
                    {{scope.registro.usuarioNome}}
                </h3>
            </div>
        </div>

        <div class="sgr-container-table" layout="column">
            <md-card>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column class="text-center" width="80px">
                                <sgr-glossario termo="Item"></sgr-glossario>
                            </th>
                            <th md-column>
                                <sgr-glossario termo="Perfil"></sgr-glossario>
                            </th>
                            <th md-column>
                                <sgr-glossario termo="Concedido Em"></sgr-glossario>
                            </th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row ng-repeat="item in scope._registros">
                            <td md-cell class="text-center">
                                <span ng-bind="$index + 1"></span>
                            </td>
                            <td md-cell>
                                <span ng-bind="item.perfil.nome"></span>
                            </td>
                            <td md-cell>
                                <span ng-bind="item.dtCadastro | date:'dd/MM/yyyy'"></span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-card>
        </div>
    </div>

</md-content>

