@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/Roboto-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/fonts/Roboto-Bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.p-t-0 {
    padding-top: 0px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

body {
    overflow-y: hidden;
}

#header-container {
    position: fixed !important;
    height: 72px;
    top: 0;
    z-index: 98;
}

#header-bar {
    z-index: 98;
}

.site-sidenav {
    position: fixed !important;
    top: 70px;
    z-index: 99;
    box-shadow: 3px 9px 9px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 9px 9px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 9px 9px -2px rgba(0, 0, 0, 0.2);
}

md-toolbar h1 {
    margin: auto;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

md-input-container > input:disabled, md-input-container > textarea:disabled {
    color: #c1c1c1 !important;
}

.favoritas {
    background-color: white;
}

md-select[disabled] * {
    color: #c1c1c1 !important;
}

#content {
    overflow: hidden;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 0;
}

#content .md-button.share > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Utils */

.content-wrapper {
    position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}

.avatar {
    position: relative;
    width: 75px;
    height: 75px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

md-list-item .md-button {
    margin: 0;
}

md-list .md-button.selected {
    color: #03A9F7;
    background-color: #EFF1F2;
}

md-list md-list-item button.md-button:not(.selected):not([disabled]) {
    background-color: white;
}

#content {
    padding: 25px;
}

#content md-icon.avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
}

/*
 * MENU
 */
.site-sidenav {
    background: #666;
}

.site-sidenav md-content {
    background: transparent;
}

.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
    width: 272px;
    min-width: 272px;
    max-width: 272px;
}

.site-sidenav > * {
    min-width: 218px;
}

.docs-menu,
.docs-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.docs-menu li {
    margin: 0;
}

.docs-menu > li:nth-child(1) {
    border-top: none;
}

.md-whiteframe-glow-z1 {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 0px 2px 2px rgba(0, 0, 0, 0.098),
    0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.docs-menu > li {
    /*border-bottom: 1px solid #267ED5;*/
    border-bottom: 1px solid black;
}

.docs-menu .md-button {
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
    /*background: #267ED5 !important;*/
    background: #ddd;
    color: #38813C !important;
}

.docs-menu .md-button md-icon {
    color: white;
}

.docs-menu md-select {
    margin: 0;
    width: 100%;
}

.docs-menu md-select md-select-label {
    justify-content: flex-end;
    padding-top: 10px;
}

.docs-menu md-select md-select-label span {
    margin-right: auto;
    padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
    margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
    padding: 0;
}

.docs-menu .md-button.active {
    background: #267ED5;
}

.menu-heading {
    display: block;
    line-height: 32px;
    margin: 0;
    padding: 8px 16px 0;
    text-align: left;
    width: 100%;
    color: rgba(255, 255, 255, 0.54)
}

.docs-menu li.parentActive,
.docs-menu li.parentActive .menu-toggle-list {

}

.menu-toggle-list {
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
}

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.parent-list-item:last-child {
    margin-bottom: 20px;
    border-bottom: none;
}

.md-button-toggle .md-toggle-icon {
    display: block;
    margin-left: auto;
    speak: none;
    vertical-align: middle;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

/* vAccordion */
.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    background-color: #4CAF50;
}

.vAccordion--default v-pane.is-expanded > v-pane-header {
    border-bottom-color: #4CAF50;
}

.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
    color: #4CAF50;
}

md-toast .md-toast-content {
    border-radius: 10px;
    /*opacity: 0.7;*/
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #62c462;
}

/* */
md-toast.md-error-toast-theme .md-toast-content {
    background-color: red;
}

md-toast.md-info-toast-theme .md-toast-content {
    background-color: #286090;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/**
 * MUI Tables module
 */
th {
    text-align: left;
}

.mui-table {
    width: 50%;
    max-width: 100%;
    margin-bottom: 20px;
}

.mui-table > thead > tr > th,
.mui-table > thead > tr > td,
.mui-table > tbody > tr > th,
.mui-table > tbody > tr > td,
.mui-table > tfoot > tr > th,
.mui-table > tfoot > tr > td {
    padding: 10px;
    line-height: 1.429;
}

.mui-table > thead > tr > th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    font-weight: 700;
}

.mui-table > tbody + tbody {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.mui-table.mui-table--bordered > tbody > tr > td {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

md-content {
    padding: 10px !important;
}

.mapaImovel {
    height: 400px;
    margin-top: 6%;
}

button.btn-blue {
    background: #337ab7 !important;
    color: #fff !important;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
}

.home-box {
    margin-right: 0;
    margin-right: 15px;
    border: 0px #FFFFFF;
    border-bottom: 1px solid #4A90E2;
    /**box-shadow: 0.1px 0px 0.1px #4A90E2;*/
}

.home-box.pesq-imoveis {
    border-bottom: 1px solid #4CAF50;
    /**box-shadow: 0.1px 0px 0.1px #4CAF50;*/
    background: white;
}

.home-box.msg {
    background: white;
}

.icon-forward-mensagens {
    height: 15px;
    width: 10px;
    color: white !important;
    background: #4A90E2 !important;
}

.color-mensagens {
    color: #4A90E2 !important;
}

.color-infos {
    color: #dd4b39 !important;
}

.color-pesq-imoveis {
    color: #fca600 !important;
}

.home-box.carteira-imobiliaria {
    border-bottom: 1px solid #4CAF50;
    /**box-shadow: 0.1px 0px 0.1px #4CAF50;*/
    background: white;
}

.color-carteira-imobiliaria {
    color: #4CAF50 !important;
}

.carteira-imobiliaria .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #4CAF50 !important;
    height: 50px;
}

.carteira-imobiliaria .home-box-header h2 {
    color: #4CAF50 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.icon-forward-carteira-imobiliaria {
    height: 15px;
    width: 10px;
    color: white !important;
    background: #4CAF50 !important;
}

.home-box.painel-servicos {
    border-bottom: 1px solid #6c0382;
    /**box-shadow: 0.1px 0px 0.1px #4CAF50;*/
    background: white;
}

.color-painel-servicos {
    color: #6c0382 !important;
}

.painel-servicos .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #6c0382 !important;
    height: 50px;
}

.painel-servicos .home-box-header h2 {
    color: #6c0382 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.icon-forward-painel-servicos {
    height: 15px;
    width: 10px;
    color: white !important;
    background: #6c0382 !important;
}

.float-left {
    float: left;
}

.margem-3 {
    margin-left: 3%;
}

.links-uteis-content {
    padding: 2% 6% 0 3%;
    margin-left: 3%;
    float: left;
}

.links-uteis-content a {
    color: inherit;
}

.links-uteis-content p {
    text-align: center;
}

.icon-forward-infos {
    height: 15px;
    width: 10px;
    color: white !important;
    background: #dd4b39 !important;
}

.icon-forward-pesq-imoveis {
    height: 15px;
    width: 10px;
    color: white !important;
    background: #fca600 !important;
}

.home-box.infos {
    border-bottom: 1px solid #dd4b39;
    background: white;
    /**box-shadow: 0.1px 0px 0.1px #dd4b39;*/
}

.home-box.pesquisa {
    border-bottom: 1px solid #fca600;
    background: white;
    /**box-shadow: 0.1px 0px 0.1px #fca600;*/
}

.home-box.suporte {
    border-bottom: 1px solid #7B68EE;
    /**box-shadow: 0.1px 0px 0.1px #7B68EE;*/
}

.pesq-imoveis .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #4CAF50 !important;
    height: 50px;
}

.pesquisa.home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #fca600 !important;
    height: 50px;
}

.home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #4A90E2 !important;
    height: 50px;
}

.infos .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #dd4b39 !important;
}

.videos-box .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #7f05ab !important;
}

.videos-box .home-box-header h2 {
    color: #7f05ab !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.home-box.videos-box {
    border-bottom: 1px solid #7f05ab;
    /**box-shadow: 0.1px 0px 0.1px #7f05ab;*/
}

.pendencias-box .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #4CAF50 !important;
}

.pendencias-box .home-box-header h2 {
    color: #4CAF50 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.conteudo-pendencias {
    padding: 10px 1% 0px 1% !important
}

.pendencias-geral {
    padding: 0px 0px 0 0% !important;
}

.home-box.pendencias-box {
    border-bottom: 1px solid #4CAF50;
    /**box-shadow: 0.1px 0px 0.1px #4CAF50;*/
}

.links-uteis-box .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #0ab1d1 !important;
}

.links-uteis-box .home-box-header h2 {
    color: #0ab1d1 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.home-box.links-uteis-box {
    border-bottom: 1px solid #0ab1d1;
    /**box-shadow: 0.1px 0px 0.1px #0ab1d1;*/
}

.suporte .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #7B68EE !important;
}

.pesquisa .home-box-header {
    width: 100%;
    background: #e0e0e0; /*rgb(76,175,80);*/
    border-top: 4px solid #fca600 !important;
}

/* pesquisa de imóvel */
.pesquisa-img-container {
    position: relative;
    display: flex; /* added */
    overflow: hidden; /* added */
}

.pesquisa-img-container:hover {
    opacity: 0.9;
}

.pesquisa-img-container:hover a {
    opacity: 0.5; /* added */
    top: 0; /* added */
    z-index: 500;
}

/* added */
.pesquisa-img-container:hover a span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

/* added */
.pesquisa-img-container a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}

#pesquisaImovel i {
    visibility: visible;
    margin: 0% 0 0 42%;
    opacity: 0.5;
}

#mapa-pesquisa-imovel:hover {
    opacity: 0.9;
}

#pesquisaImovel:hover i {
    visibility: visible;
    display: block;
}

.no-scrollbar-y {
    overflow-y: hidden;
}

.no-scrollbar-x {
    overflow-x: hidden;
}

.home-box-header h2 {
    color: #4A90E2 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
    font-weight: normal;
}

.pesq-imoveis .home-box-header h2 {
    color: #4CAF50 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
    font-weight: normal;
}

.pesquisa .home-box-header h2 {
    color: #fca600 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.home * {
    font-family: "Roboto";
}

.infos .home-box-header h2 {
    color: #dd4b39 !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.suporte .home-box-header h2 {
    color: #7B68EE !important;
    font-size: 15px !important;
    margin-left: 15px;
    height: 50px;
}

.indicador-contagem {
    background: red;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    float: right;
    margin: 0;
    margin-top: -65px;
    margin-right: 10px;
}

.mensagem > .link-mensagem {
    color: #000;
    text-decoration: none;
}

.mensagem > .msg-nao-lida {
    color: #000;
    text-decoration: none;
    font-weight: bold !important;
}

.mensagem > .msg-lida {
    color: #000;
    text-decoration: none;
    font-weight: normal !important;
}

.msg-nao-lida > a {
    font-weight: bold !important;
}

.msg-lida > a {
    font-weight: normal !important;
}

/*
    Reescreve o estilo do md-toolbar do angular-material.css
*/

.md-toolbar {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 20px;
    height: 38px;
    min-height: 26px;
    width: 100%;
}

.md-toolbar-tools {
    font-size: 13px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

/*
    Sobreecrita do cabeçalho  e linhas da md-table
*/

table.md-table thead.md-head > tr.md-row {
    height: 30px;
}

table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row {
    height: 34px;
    border-bottom: 1px solid !important;
    color: #dbdbdb;
}

table.md-table td.md-cell {
    color: rgba(0, 0, 0, .87);
    font-size: 12px;
    border-top: 1px rgba(0, 0, 0, .12) solid;
    height: 15px !important;
    /*text-align: center !important;
    padding: 0 0 0 0 !important;*/
}

table.md-table th.md-column {
    color: rgb(140, 139, 139);
    font-size: 12px;
    white-space: nowrap;
    font-weight: 700;
    /** border-bottom: 1px solid !important;*/
}

table.md-table td.md-cell {
    color: #888787;
    text-decoration: none;
}

table.md-table td.md-cell a {
    color: #888787;
    text-decoration: none;
}

table td {
    padding: 5px;
}

table th {
    background-color: #ececec;
    color: #fff;
    padding: 5px;
    text-align: left;
    font-weight: bold;
}

.md-table-pagination {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    border-top: 1px rgba(0, 0, 0, .12) solid;
    background-color: #ececec;
    height: 37px;
}

.icon-fechar:hover {
    color: #000000;
}

.icon-fechar {
    color: #248d26;
}

.pendencia-item {
    /*text-align: center;
    width: 140px;
    border: 2px solid #dddddd;
    text-align: right;
    opacity: 0.9;
    filter: alpha(opacity=50);*/
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.pendencia-item > p {
    margin-top: 6px;
    margin: 0 24px;
    font-size: 11px;
    color: ghostwhite;
}

.pendencia-item > .inner {
    padding: 10px;
}

.pendencia-item .icon {
    transition: all .3s linear;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.pendecia-nome {
    color: #ffffff;
    font-size: 11px !important;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: -15px !important;
    text-align: left !important;
    padding-left: 10px;
}

.pendencia-item > .pendecia-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

}

.pendencia-item > .pendecia-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}

.pendencia-row, .pesquisa-imovel.row {
    margin-top: 28px;
}

.pendencia-item-contador {
    background: none;
    color: #fff;
    padding: 10px;
    position: absolute;
    font-weight: bold !important;
    font-size: 30px !important;
    margin-top: -5px !important;
    margin-left: 0px !important;
}

.informe-header {
    padding: 12px 0 !important;
    margin-top: 0 !important;
}

.informe-item {
    width: 100%;
    margin-bottom: 30px;
}

.informe-caixa-img {
    border: 2px solid !important;
    color: #dd4b39;
    margin-top: 12px;
}

.informe-data {
    font-size: 12px;
    color: #dd4b39;
}

.informe-titulo {
    margin: 3% 0;
    font-size: 1.5em;
    font-weight: bold;
}

.informe-descricao {
    margin-top: -10px;
    line-height: 135%;
}

.informe-descricao-mobile {
}

.btn-continue-lendo-primeira-noticia {
    color: rgb(76, 175, 80) !important;
    font-size: 11px !important;
    padding: 0 !important;
}

.btn-continue-lendo {
    color: rgb(76, 175, 80) !important;
    font-size: 11px !important;
    padding: 0 !important;
    margin-top: 5em;
}

.informe-descricao .btn-continue-lendo {
    margin-top: 0px !important;
}

.informe-titulo-v2 {
    margin: -11px 0;
}

.informe-data-v2 {
    margin-bottom: 20px;
}

.submenu-item:hover {
    background: #ddd !important;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/fonts/material-font.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.control-extent {
    position: absolute;
    top: 65px;
    left: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
}

.control-extent a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    text-align: center;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: rgba(56, 129, 60, 1);
}

.control-extent a:hover {
    background: rgba(56, 129, 60, 0.7);
}

.control-extent.disabled a {
    background: #999;
}

.control-extent.disabled a:hover {
    background: #999;
}

.control-extent a i {
    font-size: 15px;
}

.fieldset {
    border-radius: 8px;
    border: 2px solid #dddddd;
    margin-top: 5px;
}

.fieldset legend {
    padding-right: 8px;
    padding-left: 8px;
}

.fieldset p {
    padding-left: 5px;
}

.md-menu .md-button {
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    padding: 12px;
    color: #ddd;
    font-weight: bold;
    white-space: normal;
    text-align: left;
    line-height: normal;
    height: auto;
}

ul li .md-button {
    padding: 5px;
    font-weight: bold;
    color: #666666;
    width: 100%;
    margin: 0px;
    text-align: left;
    font-size: 12px;
}

md-menu-content {
    max-height: 450px;
    vertical-align: top;
    background: #dddddd;
    padding: 10px;
    border-top: 15px solid #a1a1a1;
    border-bottom: 15px solid #a1a1a1;
}

.md-open-menu-container {
    top: 70px !important;
    position: absolute;
    left: 272px !important;
}

md-menu-bar .md-menu .md-button:hover {
    color: #ff6600;
    background: #dddddd !important;
}

md-menu-content .md-button {
    background: transparent !important;
    width: 100%;
    white-space: normal;
    line-height: 135%;
    padding-top: 10px !important;
}

md-menu-content .md-button:hover {
    background: #ccc !important;
}

md-menu-content ul {
    list-style: none;
    padding: 5px;
}

.menu-section-title {
    color: #ff6600;
}

li.itensmenu {
    display: inline-block;
    width: 31%;
    padding: 4px;
    vertical-align: top;
}

.md-open-menu-container.md-active {
    width: 60%;

}

md-menu-item {
    height: auto;
    display: block;
    min-height: auto;
}

md-menu-bar md-menu.md-open > button {
    background: #ddd !important;
    color: #ff6600 !important;
}

md-menu-bar {
    padding: 0px;
}

md-menu-bar .md-menu {
    display: block;
}

#terrendoAcenssao {
    width: 320px;
}

.special .md-datepicker-input {
    min-width: 145px;
}

md-input-container * {
    color: #171717 !important;
}

.md-toolbar-tools > h2 {
    color: #fff;
}

.form-error {
    color: maroon !important;
}

md-datepicker.ng-invalid-required > div.md-datepicker-input-container {
    border-bottom: 1px solid rgb(221, 44, 0) !important;
}

.hover a {
    border-left: 0px solid #4A90E2;
    transition: border-left 0.7s;
}

.hover a:hover {
    border-left: 7px solid #4A90E2;
    transition: border-left 0.4s;
}

.hvr-icon-forward {
    height: 15px;
    width: 15px;
    color: white;
    background: green;
}

nav.carousel:hover {
    cursor: default;
}

/* Hide the radio button */
nav.carousel input[type=radio] {
    display: none;
}

/* All styling takes place on the label element */
nav.carousel label {
    display: inline-block;
    background: #ddd;
    overflow: hidden;
    text-indent: -999px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    box-shadow: inset 0 1px 1px 0 #999;
}

nav.carousel {
    text-align: center;
    padding-bottom: 5px;
}

nav.carousel label:hover {
    background: #bbb;
    cursor: pointer;
    box-shadow: inset 0 1px 1px 0 #777;
}

nav.carousel input:checked + label {
    background: linear-gradient(#00CFFF, #1584bc);
    box-shadow: inset 0 0 1px 1px #087DC0;
}

.md-top {
    margin-top: 100px !important;
}

.md-right {
    margin-right: 17px !important;
}

.md-row:hover {
    background: #f3f3f3;
    transition: 0.8s all;
    -moz-transition: 0.8s all;
    -webkit-transition: 0.8s all;
}

.icon-forward {
    height: 15px;
    width: 10px;
    color: white !important;
    background: green !important;
}

.padrao-botoes {
    width: 150px;
    background-color: #125f90;
    color: #fff;
    font-size: 20px;
    height: 40px;
}

.fonte-botoes {
    color: #fff;
    font-size: 10px !Important;
}

.fonte-botoes:hover {
    color: rgb(76, 175, 80);
}

.footer {
    background-color: #125f90;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

md-dialog-actions button:hover {
    /*background: #267ED5 !important;*/
    color: #fff !important;
    background-color: #125f90 !important;
}

.top-1 {
    margin-top: 1%;
}

.top-2 {
    margin-top: 2%;
}

.lef-1 {
    margin-left: 1%;
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: rgba(0, 0, 0, 0.12);
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 1px;
    height: 29px;
}

/*Arrumando a tabela da Diretiva de Analise Simplificada*/
.texto-centro {
    text-align: center !important;
    color: #FFFFFF !important;
    font-weight: initial;
}

.texto-centro-corpo {
    text-align: center !important;
}

.coluna-um {
    width: 10%
}

.coluna-dois {
    width: 5%;
    padding-left: 2% !important;
}

.coluna-tr�s {
    width: 20%
}

.coluna-quatro {
    width: 60%
}

.link-mais {
    color: blue;
}

/**/
.hand:hover {
    cursor: pointer !important;
}

/*Personaliza��o do toast*/
.md-toast-content {
    height: 100% !important;
}

.toast-padding {
    padding: 5px;
}

/*Personaliza��o do toast*/

/*Anima��o read more*/
a.read-more, a.read-less {
    cursor: pointer;
    color: blue;
}

span.more-text {
    display: none;
}

span.more-text.show {
    display: inline !important
}

/*Anima��o read more*/

/**
    Sobreescrita do md-menu-content md-dense
*/
md-menu-content.md-dense md-menu-item {
    height: 400px;
    min-height: 0px;
}

md-menu-content.md-menu-bar-menu.md-dense .md-button {
    min-height: 0;
    height: 70px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

md-menu-content.md-menu-bar-menu.md-dense ul li h3 {
    height: 0px;
}

/* padrão telas formulario*/
.tituloFormulario {
    color: #4CAF50;
    border-bottom: 1px solid #e3dce3;
}

/**
    Loading Bar
*/
#loading-bar-spinner {
    text-align: center;
    margin-top: 20%;
    left: 50%;
    z-index: 99999;
}

#loading-bar-spinner .spinner-icon {
    width: 50px;
    height: 50px;
    border: 9px solid transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation: loading-bar-spinner 400ms linear infinite;
    -ms-animation: loading-bar-spinner 400ms linear infinite;
    -o-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar {
    pointer-events: all;
    z-index: 99000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.caixa-tabela-resultado {
    margin-top: 3%;
}

md-input-container .md-input {
    background-color: transparent;
}

.md-datepicker-input-container {
    background-color: transparent;
}

.md-calendar-day-header th {
    color: gray;
    font-weight: 400;
}

.obrigatorio {
    color: red;
    font-size: 12px;
    font-weight: 700;
}

.painel-servicos-box {
    padding: 3% 2% 1% 2%;
    height: 100px;
}

.painel-servicos-box-itens {
    border: 1px solid #bbbbbb;
    background-color: #f7f7f7;
    padding: 2% 4% 4% 4%;
}

.painel-servicos-box-valores {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.painel-servicos-box-itens i.amarelo {
    color: #ffd833;
}

.painel-servicos-box-itens i.vermelho {
    color: #f33f21;
}

.painel-servicos-box-itens i.verde {
    color: #18d436;
}

.painel-servicos-box-itens i.azul {
    color: #211cb8;
}

.continue-informe {
    margin-top: 0px !important;
}

.icone24 {
    font-size: 24px;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    color: #f1f1f1;
}

.icone30 {
    font-size: 30px;
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    color: #f1f1f1;
}

.icone36 {
    font-size: 36px;
    height: 36px;
    width: 36px;
    min-height: 36px;
    min-width: 36px;
    color: #f1f1f1;
}

.icone48 {
    font-size: 48px;
    height: 48px;
    width: 48px;
    min-height: 48px;
    min-width: 48px;
    color: #f1f1f1;
}

.search-input {
    height: 31px;
    border: none;
    box-shadow: none;
    width: 150px;
    padding: 10px;
    font-size: 14px;
}

#search-menu-container {
    background: #0d4b67;
    min-height: 88px;
    padding-top: 20px;
    padding-left: 25px;
}

#search-menu-container md-icon {
    margin: 0px 0px 0px 10px;
}

md-backdrop.md-sidenav-backdrop {
    position: fixed;
}

#breadcrumb-bar {
    min-height: 32px;
}

#breadcrumb-bar p {
    margin: 9px 20px;
}

.custom-caption {
    font-size: .6em;
}

.text-success {
    color: #125f90 !important;
}

.filter-container {
    border: 1px solid #ddd;
    border-radius: 2px;
}

.filter-header {
    padding: 0 10px;
    background: #125F90;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.filter-header h3 {
    color: #FFF;
}

.filter-body {
    border-radius: 2px;
    padding: 10px 10px 0;
    background: #F8F8FF;
}

.table-buttons {
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    background: #ECECEC;
}

.filter-body > md-input-container {
    margin-bottom: 0 !important;
}

.text-center {
    text-align: center !important;
}

.no-padding {
    padding: 0 !important;
}

.table-header-title {
    padding: 10px;
    background: #125F90;
}

.table-header-title h4 {
    padding: 0 10px;
    color: #FFF;
    margin: 0;
    text-align: center;
    width: 100%;
}

.table-options {
    padding: 10px;
    background: #ECECEC;
    border-bottom: 1px solid #FAFAFA;
    border-top: 1px solid #FAFAFA;
}

.table-options a {
    text-decoration: underline !important;
    cursor: pointer;
}

th.md-column,
td.md-cell {
    color: #888787;
    text-decoration: none;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 12px 5px !important;
}

.cell-options a {
    padding: 5px 8px;
}

.tabs-orgao-entidade md-content {
    background-color: transparent !important;
}

.tabs-orgao-entidade md-content md-content {
    background-color: #ffffff !important;
}

.tabs-orgao-entidade md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabs-orgao-entidade md-content md-tabs md-tabs-wrapper {
    background: white;
}

.tabs-orgao-entidade md-content h1:first-child {
    margin-top: 0;
}

.title-page {
    color: #ff6600;
    font-weight: 100;
}

md-toolbar h3 {
    font-size: 16px !important;
    margin-left: 10px !important;
}

.md-step.md-active md-step-label-wrapper::before, .md-step.md-success md-step-label-wrapper::before {
    background-color: #125f90 !important;
}

.tabs-orgao-entidade .title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #505050;

}

.tabs-orgao-entidade .data {
    margin-top: 5px;
    color: #7b7b7b;
}

.vAccordion--default v-pane-header {
    border: none;
    background: #125f90;
    padding: 10px;
    border-radius: 6px;
}

.vAccordion--default .is-expanded v-pane-header {
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 0px;
}

.vAccordion--default v-pane-header .number {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    padding: 4px 9px;
    font-size: 16px;
    margin-left: 15px;
}

.vAccordion--default v-pane-header h4 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    margin: 0px 0px 0px 15px;
}

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    right: 20px;
    background-color: #fff;
    height: 2px;
}

.vAccordion--default .is-expanded v-pane-content {
    border: 1px solid #125f90;
    background: #f9f9f9;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 20px;
}

.vAccordion--default v-pane-content > div {
    padding-bottom: 0px;
}

.tree-view-wrapper, .tree-view-wrapper ul {
    list-style: none;
    padding-left: 15px;
}

.tree-view-wrapper, .tree-view-wrapper ul li {
    margin: 0;
}

.tree-view-wrapper .material-icons {
    font-size: 16px;
    float: left;
    margin: 14px 5px 0 0;
    cursor: pointer;
}

.tree-checkbox {
    margin-bottom: 0;
    margin-left: 4px !important;
    margin-top: 10px;
}

.edit {
    margin-right: 6px !important;
}

.edit i {
    color: #D77105;
}

.lista-actions {
    padding: 0;
}

.lista-actions .lista {
    height: 150px;
    overflow-x: auto;
}

.lista-actions md-icon {
    width: 20px;
    height: 20px;
}

.table-lista {
    height: 150px;
    overflow-x: auto;
    padding-top: 10px;
}

.detalhes-acao label {
    font-weight: bold;
    padding: 5px;
}

.md-table th {
    background-color: #fff
}

.md-table-pagination {
    background-color: #fff;
    border-top: none;
}

th.md-column, td.md-cell {
    border-left: none;
    border-right: none;
}

.md-table tr:nth-child(odd) {
    background-color: #ebebeb;
}

md-checkbox.md-default-theme[disabled]:not(.md-checked) .md-icon, md-checkbox[disabled]:not(.md-checked) .md-icon {
    border-color: rgba(0, 0, 0, 0.13);
}

md-list md-list-item.md-2-line .md-list-item-text p {
    color: rgba(0, 0, 0, 0.84);
}

md-input-container .md-input {
    background-color: transparent !important;
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 29px;
}

.sgr-container {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #F8F8FF;
}

.sgr-container-header {
    padding: 0 10px;
    background: #4CAF50;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.sgr-container-header h3 {
    color: #FFF;
}

.sgr-container-body {
    border-radius: 2px;
    padding: 10px 10px 0;
    background: #F8F8FF;
}

.sgr-container-table {
    background: #F8F8FF;
}

.sgr-container-body > md-input-container {
    margin-bottom: 0 !important;
}

th.md-column,
td.md-cell {
    color: #888787;
    text-decoration: none;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 12px 5px !important;
}

.cell-options a {
    padding: 5px 8px;
}

.md-table th {
    background-color: #fff
}

.md-table-pagination {
    background-color: #fff;
    border-top: none;
}

th.md-column, td.md-cell {
    border-left: none;
    border-right: none;
}

.md-table tr:nth-child(odd) {
    background-color: #ebebeb;
}

.md-button.md-raised.md-warn md-icon {
    color: white !important;
}

.md-button span {
    padding-right: 5px;
}

.table-button-icon {
    margin-top: -15px;
    color: black;
    font-weight: 500;
}

.table-button-icon.text-error {
    color: red !important;
}

.table-button-icon.text-success {
    color: green !important;
}

.cursor-pointer {
    cursor: pointer;
}

#navigation-bar {
    padding-left: 10px;
    background-color: #4CAF50;
}

md-autocomplete[md-floating-label] md-input-container {
    margin: 0;
    padding: 0;
}

.radio-column {
    min-width: 100px;
    display: inline-block;
}

form.ng-submitted .ng-invalid > md-radio-button {
    color: red !important;
}

.selectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

.selectHeader .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectHeader .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectHeader md-content._md {
    max-height: 240px;
}

.processo-info {
    padding: 10px 20px;
}

.calculadora-input {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    text-align: center;
    vertical-align: middle !important;
    margin: 0;
    padding: 5px;
    outline: none;
    background: rgb(248, 248, 255);
    box-shadow: none;
    border: none;
    align-items: center;
    resize: none;
    overflow: hidden !important;
}

.calculadora-input:disabled {
    cursor: not-allowed;
}

.calculadora-input.calculo {
    background: white;
}

md-select.calculadora-input .md-select-value {
    border-bottom: none !important;
}

md-select.calculadora-input > .md-select-value > span:after {
    content: none !important;
}

md-select.calculadora-input > .md-select-value > span.md-select-icon:after {
    content: '\25BC' !important;
}

input.calculadora-input:disabled {
    background: #ddd !important;
    cursor: not-allowed;
}

.bg-error,
form.ng-submitted .calculadora-input.ng-invalid {
    background: rgba(239, 124, 124, 0.38) !important;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: none;
}

.nivel-risco-cel {
    height: 40px;
    text-align: center;
    display: flex;
}

.table-container {
    height: 200px;
}

.table-container > table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.table-container > table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

.table-container > table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.table-container > table tbody tr {
    width: 100%;
}

.table-container > table thead,
.table-container > table tbody tr {
    display: table;
    table-layout: fixed;
}

.fs-11 {
    font-size: 11px !important;
}

.md-autocomplete-icon input {
    padding-right: 30px;
}

.sgr-container-footer {
    border-top: 1px solid #ddd;
    margin: 0 -10px !important;
    padding: 10px;
}

.md-tab.md-active {
    background: #f8f8ff;
    outline: 1px solid #dddddd;
    outline-offset: -1px;
}

md-ink-bar {
    color: rgb(56, 129, 60);
    background: rgb(56, 129, 60);
}

.md-right {
    margin-right: 0px !important;
}

.lf-ng-md-file-input {
    width: auto;
    float: right;
}

.lf-ng-md-file-input-caption,
.lf-ng-md-file-input-button-remove {
    display: none !important;
}

.table-icon {
    color: black;
    cursor: pointer;
}

.text-right {
    text-align: right !important;
}

md-table-container table thead th, md-table-container table tbody td {
    border-right: 1px solid #cfcfcf !important;
    border-top: 1px solid #cfcfcf !important;
}

table {
    border-collapse: inherit;
}

.wordwrap-th {
    align-self: center;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 12px !important;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000 !important;
    font-size: 12px !important;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

md-toolbar {
    z-index: auto !important;
}

.border-none {
    border: none !important;
}

@media print {

    .noprint {
        display: none;
    }

    .nooverflow {
        overflow: inherit !important;
    }

}

.error-message {
    color: red !important;
    font-size: 12px;
    animation: table-show-animacao 0.7s ease-in;
}

.botao-adicionar-perfil {
    width: 38px !important;
    height: 38px !important;
    margin-top: 18px !important;
    line-height: 52px !important;
    background: #4CAF50 !important;
}

.table-show {
    animation: table-show-animacao 0.7s ease-in-out;
}

.table-show .md-row {
    animation: table-show-animacao 0.7s ease-in-out;
}

@keyframes table-show-animacao {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fieldset-monitoramento {
    border-radius: 7px;
    border: 1px solid #AAA;
}

.accordin-header-monitoramento {
    margin-top: 1px;
    border-radius: 1px !important;
    border: 2px solid #4CAF50 !important;
    background: transparent !important;
    text-align: center;
}

.is-expanded > .accordin-body-monitoramento {
    border-radius: 1px !important;
    border-top: none !important;
    border-right: 2px solid #4CAF50 !important;
    border-left: 2px solid #4CAF50 !important;
    border-bottom: 2px solid #4CAF50 !important;
}

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    background-color: #4CAF50 !important;
}

.table-monitoramento table.md-table th.md-column {
    background: #4CAF50 !important;
    color: #FFF !important;
    font-size: 15px;
    border-color: #FFF !important;
}

.table-monitoramento table.md-table td.md-cell {
    background: #DFC085 !important;
    color: #000 !important;
    font-size: 15px;
    font-weight: bold;
    border-color: #FFF !important;
}

.no-margin {
    margin: 0 !important;
}

.padding-15 {
    padding: 15px !important;
}

.switch-invert {
    line-height: 30px;
    padding: 0 10px 0 0;
}

md-switch.switch-monitoramento .md-thumb {
    background-color: rgb(76, 175, 80) !important;
}

md-switch.switch-monitoramento .md-bar {
    background-color: rgba(76, 175, 80, 0.5) !important;
}

.full-width {
    width: 100%;
}

.nivel-legenda {
    height: 20px;
    width: 20px;
    display: inline-block !important;
}

.nivel-legenda-title {
    margin-top: -20px;
    display: block;
    margin-left: 30px;
}

.nivel-baixo {
    background: #00b052 !important;
}

.nivel-moderado {
    background: #ffff00 !important;
}

.nivel-alto {
    background: #e26f01 !important;
}

.nivel-critico {
    background: #fe0100 !important;
}

form.ng-submitted .ng-invalid > .md-datepicker-input-container {
    border-color: rgb(221, 44, 0) !important;
}

.acompanhamento-upload .lf-ng-md-file-input {
    float: left !important;
}

.datepicker-minitoramento .md-datepicker-input-container {
    width: calc(100% - 68px) !important;
}

.monitoramento-warning {
    margin: 0;
    padding-left: 10px;
    color: #888;
}

.link-acompanhamento{
    padding: 0 10px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.link-acompanhamento-disabled{
    color: #888;
    cursor: not-allowed;
    text-decoration: none;
}

.sgr-textarea{
    border: solid 1px #DADAE0 !important;
}

md-input-container.md-input-invalid textarea.sgr-textarea{
    border-color: rgb(221,44,0) !important;
}
